.Cursive{
  font-family: cursive;
}

.Choice-logo{
  border: 2px solid #09d3ac;
  height: 15vh;
}
.App-logo {
  height: 10vmin;
}

.App-div{
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  border: 1vh solid #09d3ac;
} 
.Leaderboard{
  width: 50vh;
  height: 100vh;
  padding: 8px;
  border: 2px solid #09d3ac;
  margin: auto;
  overflow: auto;
}
.border1{
  border: 1px solid #09d3ac;
  width: 50%;
}
.border2{
  border: 1px solid #09d3ac;
}
.Idbox {
  height: 5vh;
  width: 80%;
  padding: 8px;
  align-items: center;
  border: 2px solid #09d3ac;
  
  margin: 0;
}

.Container{
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  font-size: calc(10px + 2vmin);
}
.RPCContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
}
.PlayerContainer{
  display: grid;
  grid-template-columns: 15vh 30vh 30vh;
}


.textcenter{
  text-align: center;
}
.textleft{
  text-align: left;
}
.textright{
  text-align: right;
}
.space{
  height: 1vh;
}
.mediumspace{
  height: 5vh;
}
.bigspace{
  height: 35vh;
}
.centered{
  margin-left: auto;
  margin-right: auto;
}

.Button{
  width: 20vh;
  font-size: calc(10px + 2vmin);
}
.Button2{
  width: 30vh;
  font-size: calc(10px + 2vmin);
}
.Player{
  border: 1px solid #09d3ac;
  width: auto;
}
